/* your code here */
*{
	margin:0;
	padding:0;
}
footer{
	background-color:#000000;
}
.logo_name{
	color:white;
	font-family: "Noto Sans", sans-serif;
	font-size:22px;
}
i{
	font-size:20px;
}
.top{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	padding:15px;
}
.media-icons{
	display:flex;
}
.media-icons>a{
	margin-inline:5px;
}
.link_title{
	color:white;
	font-family: "Noto Sans", sans-serif;
	font-size:14px;
	font-weight:500;
	position:relative;
	margin-bottom:10px;
}
.link_title::after{
	content:"";
	position:absolute;
	height:2px;
	width:30px;
	background-color:white;
	left:0;
	bottom:-1px;
}
.link-boxes{
	display:flex;
	flex-wrap:wrap;
	padding:15px;
	justify-content:space-between;
	align-items:center;
}
li>a{
	text-decoration:none;
	color:#B2B2B2;
	font-family: "Noto Sans", sans-serif;
	font-size:10px;
}
.about{
	padding:15px;
}
.about>p:nth-child(2){
	color:#B2B2B2;
	font-family: "Noto Sans", sans-serif;
	font-size:10px;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	color:white;
	font-family: "Noto Sans", sans-serif;
	font-size:10px;
	padding:15px;
	background-color:#2C303A;
	flex-wrap:wrap;
}
